@font-face {
  font-family: LatoRegular;
  src: url("../fonts/LatoRegular.ttf"); }
@font-face {
  font-family: MyriadProRegular;
  src: url("../fonts/MyriadProRegular.ttf"); }
@font-face {
  font-family: GothamBlack;
  src: url("../fonts/GothamBlack.ttf"); }
@font-face {
  font-family: LatoBold;
  src: url("../fonts/LatoBold.ttf"); }
@font-face {
  font-family: LatoLight;
  src: url("../fonts/LatoLight.ttf"); }
@font-face {
  font-family: OpenSansLight;
  src: url("../fonts/OpenSansLight.ttf"); }
@font-face {
  font-family: OpenSansRegular;
  src: url("../fonts/OpenSansRegular.ttf"); }
/*MOBILE FIRST -----------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: white; }

.header {
  width: 100%;
  background-color: white; }
  @media only screen and (min-width: 950px) {
    .header {
      min-height: 70px;
      width: 100%;
      position: fixed;
      top: 0px;
      background-color: white;
      z-index: 100; } }

.menu {
  padding-top: 0.5em;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center; }
  @media only screen and (min-width: 750px) {
    .menu {
      width: 85%;
      justify-content: space-between; } }
  @media only screen and (min-width: 950px) {
    .menu {
      width: 75%; } }

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .navigation a,
  .navigation a:visited {
    color: #868686;
    text-decoration: none;
    font-size: 0.7em;
    font-family: LatoRegular;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 2px;
    transition-property: background-color, color;
    transition-duration: 0.3s; }
    .navigation a:hover,
    .navigation a:visited:hover {
      color: white;
      background-color: #ffbb42; }
  @media only screen and (min-width: 750px) {
    .navigation {
      flex-direction: row; } }
  @media only screen and (min-width: 950px) {
    .navigation {
      margin-right: 5%; } }

.main-content {
  width: 95%;
  margin: 0 auto;
  font-family: LatoRegular; }
  @media only screen and (min-width: 750px) {
    .main-content {
      width: 85%; } }
  @media only screen and (min-width: 950px) {
    .main-content {
      width: 75%; } }

.slider {
  position: relative;
  min-height: 430px; }
  @media only screen and (min-width: 950px) {
    .slider {
      margin: 70px 0 0 0; } }

.slider_background {
  height: 350px;
  background-color: #709dca; }

h1, h2, h3, h4, h5 {
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin: 0; }
  .services h1, .services h2, .services h3, .services h4, .services h5, .prices h1, .prices h2, .prices h3, .prices h4, .prices h5, .how-it-works h1, .how-it-works h2, .how-it-works h3, .how-it-works h4, .how-it-works h5, .newsletter h1, .newsletter h2, .newsletter h3, .newsletter h4, .newsletter h5 {
    color: #394B55; }

h1, h2, h3 {
  font-family: GothamBlack;
  text-transform: uppercase;
  padding-top: 1.5em; }

h2 {
  font-size: 1.2em; }

h3 {
  text-transform: uppercase;
  font-size: 1em;
  text-align: left; }

h4 {
  text-transform: uppercase;
  font-size: 0.9em;
  font-family: LatoBold;
  text-align: left; }

h5 {
  font-size: 0.8em;
  font-family: OpenSansLight; }

p {
  font-size: 0.7em;
  font-family: OpenSansRegular;
  color: #394B55; }

.req-quote {
  width: 70%;
  margin: 0 auto;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (min-width: 950px) {
    .req-quote {
      width: 70%;
      flex-direction: row; } }
  .req-quote .form-field {
    width: 14em;
    height: 2em;
    margin: 0.2em;
    background-color: white;
    border-radius: 2px; }
    .req-quote .form-field input, .req-quote .form-field .btn-submit-form {
      width: 80%;
      height: 100%;
      border: none;
      font-size: 0.8em;
      font-family: OpenSansRegular;
      color: #a9a9a9; }
    .req-quote .form-field input {
      border-bottom: solid 2px white;
      transition: border-bottom 0.3s; }
      .req-quote .form-field input:focus {
        outline: none;
        border-bottom: solid 2px #ffbb42; }
    .req-quote .form-field:last-child {
      background-color: white;
      text-align: center; }
    .req-quote .form-field .btn-submit-form {
      width: 100%;
      color: white;
      text-transform: uppercase;
      font-family: OpenSansRegular;
      background-color: #ffbb42;
      transition: background-color 0.3s; }
      .req-quote .form-field .btn-submit-form:hover {
        cursor: pointer;
        background-color: #ffc866; }
    .req-quote .form-field .fa {
      font-size: 0.7em;
      padding: 0 5%; }

.banner {
  position: relative;
  width: 400px;
  margin: 40px auto 0; }

.macbook {
  width: 100%; }

.piconmac {
  position: absolute;
  top: 12px;
  left: 64px;
  width: 274px; }

.arrows {
  position: absolute;
  width: 100%;
  top: 60%;
  display: flex;
  justify-content: space-between; }
  .arrows i {
    color: white;
    transition: color 0.3s; }
    .arrows i:hover {
      color: #ffbb42;
      cursor: pointer; }
    .arrows i:first-child {
      margin-left: 33%; }
    .arrows i:last-child {
      margin-right: 33%; }
  .arrows .fa {
    font-size: 1em; }

.slider-nav {
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center; }
  .slider-nav i {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 2px #a9a9a9;
    border-radius: 5px; }
    .slider-nav i.selected {
      border-color: #709dca; }

.services {
  margin: 3em auto; }

.service-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3em; }

.service {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  @media only screen and (min-width: 750px) {
    .service {
      width: 50%; } }

.service i {
  color: white;
  width: 70px;
  height: 100%;
  text-align: center;
  font-size: 2em; }
.service h3, .service p {
  width: 80%; }
.service .fa {
  text-shadow: 1px 0 0 #709dca, 0 1px 0 #709dca, -1px 0 0 #709dca, 0 -1px 0 #709dca;
  transition: text-shadow 0.3s; }
.service:hover .fa {
  text-shadow: 1px 0 0 #db8c00, 0 1px 0 #db8c00, -1px 0 0 #db8c00, 0 -1px 0 #db8c00; }

.about-us {
  display: flex;
  min-height: 350px; }
  .about-us figure,
  .about-us article {
    margin: 0;
    flex-basis: 50%; }

.about-img {
  background-image: url("../img/aboutus.png");
  background-size: cover; }

.about-text {
  background-color: #ffc155;
  padding-top: 3%;
  padding-left: 5%; }
  .about-text h3,
  .about-text h5 {
    text-align: left;
    width: 70%; }
  .about-text h3, .about-text h5, .about-text button {
    margin: 5% 0;
    padding: 0; }
  .about-text button {
    display: block; }

.btn-read-more {
  font-size: 1em;
  font-family: LatoRegular;
  width: 8em;
  height: 2em;
  text-transform: uppercase;
  color: white;
  background-color: #ffc155;
  border: 1px solid #868686;
  transition: background-color 0.2s; }
  .btn-read-more:hover {
    background-color: #ffc866; }
  .btn-read-more a {
    display: inline-block;
    padding-top: 5%;
    width: 100%;
    height: 100%;
    font-size: 1em; }
    .btn-read-more a:link, .btn-read-more a:visited {
      color: white;
      text-decoration: none; }

.prices {
  min-height: 550px;
  background: #e7edf3; }
  .prices h2 {
    padding-top: 3em; }

.plans-list {
  min-height: 300px;
  padding: 3% 5%; }

.plans {
  margin-right: 2%;
  padding: 3%;
  float: left;
  width: 32%;
  min-height: 300px;
  background-color: white;
  border: solid 1px #ccd5df;
  border-radius: 2px;
  transition-property: background-color, transform;
  transition-duration: 0.3s; }
  .plans:last-child {
    margin-right: 0; }
  .plans h3,
  .plans p {
    font-family: LatoLight;
    text-transform: uppercase;
    text-align: center;
    color: #868686; }
  .plans div {
    margin: 1em 0; }
  .plans .cost {
    padding: 0;
    font-size: 2.5em;
    color: #ffbb42; }
    .plans .cost span {
      font-size: 0.5em;
      position: relative;
      top: -1em;
      left: 0.1em; }
    .plans .cost .period {
      padding: 0; }
  .plans p {
    font-size: 0.7em; }
  .plans p:nth-child(n + 3) {
    padding: 1em 0;
    border-top: solid 1px #868686; }
  .plans:hover {
    z-index: 100;
    background-color: #709dca;
    transform: scale(1.13); }
    .plans:hover p,
    .plans:hover h3 {
      color: white;
      border-color: white; }

.btn-purchase {
  font-size: 1em;
  font-family: LatoRegular;
  width: 8em;
  height: 2em;
  text-transform: uppercase;
  color: white;
  background-color: #ffc155;
  border: 1px solid #868686;
  transition: background-color 0.2s;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 2px; }
  .btn-purchase:hover {
    background-color: #ffc866; }
  .btn-purchase a {
    display: inline-block;
    padding-top: 7%;
    width: 100%;
    height: 100%;
    font-size: 0.7em; }
    .btn-purchase a:link, .btn-purchase a:visited {
      color: white;
      text-decoration: none; }

.clearfix {
  clear: both; }

.how-it-works {
  min-height: 500px;
  padding-top: 2em; }

.steps {
  display: flex;
  height: 80%;
  margin: 2em 0; }

.step {
  width: 25%;
  height: 100%;
  text-align: center;
  position: relative; }
  .step .fa {
    text-shadow: 1px 0 0 #709dca, 0 1px 0 #709dca, -1px 0 0 #709dca, 0 -1px 0 #709dca;
    margin: 0.5em 0;
    color: white;
    display: inline-block;
    font-size: 4em; }
  .step .step-arrow {
    position: absolute;
    right: -64px; }
  .step .step-arrow.rotated {
    top: 40%;
    transform: rotate(180deg); }
  .step h4,
  .step p {
    width: 70%;
    margin: 2em auto;
    text-align: center; }

.btn-get-started {
  font-size: 1em;
  font-family: LatoRegular;
  width: 10em;
  height: 2.5em;
  text-transform: uppercase;
  color: white;
  background-color: #ffc155;
  border: 1px solid #868686;
  transition: background-color 0.2s;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 2px; }
  .btn-get-started:hover {
    background-color: #ffc866; }
  .btn-get-started a {
    display: inline-block;
    padding-top: 9%;
    width: 100%;
    height: 100%;
    font-size: 0.7em; }
    .btn-get-started a:link, .btn-get-started a:visited {
      color: white;
      text-decoration: none; }

.success-stories {
  width: 100%;
  min-height: 500px;
  margin-top: 1em;
  padding-top: 2em;
  background-color: #ffc155; }

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 2em 0; }

.client {
  display: flex;
  justify-content: space-between;
  width: 49%;
  margin-top: 0.5em;
  padding-bottom: 1em;
  background-color: white; }
  .client img {
    width: 100px;
    display: block;
    margin: auto; }
  .client:hover i {
    transform: rotateY(360deg); }

.quote {
  width: 65%;
  margin: 2em 1em 0;
  position: relative;
  float: right; }
  .quote p:last-child {
    margin-top: 2em;
    font-family: LatoRegular;
    color: #868686;
    text-transform: uppercase; }
    .quote p:last-child span {
      color: #f6772c; }
  .quote i {
    position: absolute;
    font-size: 0.6em;
    color: #868686;
    transition: all 0.5s; }
    .quote i.fa-quote-left {
      top: -5px;
      left: -20px; }
    .quote i.fa-quote-right {
      bottom: 30px;
      left: 50%; }

.newsletter-sign {
  width: 70%;
  margin: 0 auto;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (min-width: 950px) {
    .newsletter-sign {
      width: 70%;
      flex-direction: row; } }
  .newsletter-sign .form-field {
    width: 14em;
    height: 2em;
    margin: 0.2em;
    background-color: white;
    border-radius: 2px;
    width: 37%;
    color: #868686;
    border-radius: 1px;
    border: 1px solid #868686; }
    .newsletter-sign .form-field input, .newsletter-sign .form-field .btn-submit-form {
      width: 80%;
      height: 100%;
      border: none;
      font-size: 0.8em;
      font-family: OpenSansRegular;
      color: #a9a9a9; }
    .newsletter-sign .form-field input {
      border-bottom: solid 2px white;
      transition: border-bottom 0.3s; }
      .newsletter-sign .form-field input:focus {
        outline: none;
        border-bottom: solid 2px #ffbb42; }
    .newsletter-sign .form-field:last-child {
      background-color: white;
      text-align: center; }
    .newsletter-sign .form-field .btn-submit-form {
      width: 100%;
      color: white;
      text-transform: uppercase;
      font-family: OpenSansRegular;
      background-color: #ffbb42;
      transition: background-color 0.3s; }
      .newsletter-sign .form-field .btn-submit-form:hover {
        cursor: pointer;
        background-color: #ffc866; }
    .newsletter-sign .form-field .fa {
      font-size: 0.7em;
      padding: 0 5%; }
    .newsletter-sign .form-field:last-child {
      width: 23%;
      border: none; }

.map {
  margin-top: 2em;
  height: 500px;
  background-image: url("../img/map.png");
  background-size: contain; }

.adress {
  padding-top: 50px; }
  .adress a {
    display: block;
    width: 50px;
    margin: 1em auto; }

.bubble {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  background-color: #394b50;
  border-radius: 50%;
  text-align: center; }
  .bubble h4 {
    padding-top: 3em;
    text-align: center; }
  .bubble p {
    padding: 0.6em;
    color: #868686; }
  .bubble p:nth-child(6) {
    color: #ffbb42; }
  .bubble .cape {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -8px;
    left: 115px;
    background-color: #394b50;
    transform: rotate(45deg); }

.footer {
  height: 180px;
  border-top: 1px solid #b9b9b9; }
  .footer p {
    margin: 0.5em 0;
    text-align: center;
    font-size: 1.2em;
    color: #394B55; }

.footer_navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding-top: 3em; }
  .footer_navigation a,
  .footer_navigation a:visited {
    color: #394B55;
    text-decoration: none;
    font-size: 0.7em;
    font-family: LatoRegular;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 2px;
    transition-property: background-color, color;
    transition-duration: 0.3s; }
    .footer_navigation a:hover,
    .footer_navigation a:visited:hover {
      color: white;
      background-color: #ffbb42; }
  @media only screen and (min-width: 750px) {
    .footer_navigation {
      flex-direction: row; } }
  @media only screen and (min-width: 950px) {
    .footer_navigation {
      margin-right: 5%; } }

.social {
  width: 70%;
  margin: 1em auto;
  font-size: 1em;
  text-align: center; }
  .social a,
  .social a:visited {
    margin: 0 0.5em;
    color: #709dca; }
  .social a:hover {
    color: #ffbb42; }

.copywright {
  height: 35px;
  padding-top: 0.7em;
  text-align: center;
  background-color: #709dca; }
  .copywright p {
    color: white; }

/* UTILITIES ------------------------- */
.hidden {
  display: none; }

/*# sourceMappingURL=index.css.map */
