@import "partials/variables", "partials/mixins", "partials/fonts";

/*MOBILE FIRST -----------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  //max-width: 1920px;
}

.header {
  width: 100%;
  background-color: white;
  @include media-query('desktop') {
    min-height: 70px;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 100;
  }
}

.menu {
  padding-top: 0.5em;
  @include center;
  @include flex-container($just: center);
  @include media-query('tablet') {
    width: map-get($content-width, tablet);
    justify-content: space-between;
  }
  @include media-query('desktop') {
    width: map-get($content-width, desktop);
  }
}

.navigation {
  @include navigation;
}

.main-content {
  @include center;
  font-family: $font-secondary;
  @include media-query('tablet') {
    width: map-get($content-width, tablet);
  }
  @include media-query('desktop') {
    width: map-get($content-width, desktop);
  }
}

.slider {
  position: relative;
  min-height: 430px;
  @include media-query('desktop') {
    margin: 70px 0 0 0;
  }
}

.slider_background {
  height: 350px;
  background-color: $color-slider-background;
}

%headlines {
  color: white;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  .services &,
  .prices &,
  .how-it-works &,
  .newsletter & {
    color: map-get($text-color, dark);
  }
}
h1 {
  @extend %headlines;
  font-family: $font-bigger-heading;
  text-transform: uppercase;
  padding-top: 1.5em;
}
h2 {
  @extend %headlines;
  @extend h1;
  font-size: 1.2em;
}
h3 {
  @extend %headlines;
  @extend h1;
  text-transform: uppercase;
  font-size: 1em;
  text-align: left;
}
h4 {
  @extend %headlines;
  text-transform: uppercase;
  font-size: 0.9em;
  font-family: $font-secondary-heading;
  text-align: left;
}
h5 {
  @extend %headlines;
  font-size: 0.8em;
  font-family: $font-smaller-heading;
}
p {
  font-size: 0.7em;
  font-family: $font-paragraph;
  color: map-get($text-color, dark);
}

.req-quote {
  width: 70%;
  margin: 0 auto;
  padding-top: 2em;
  @include flex-container($dir: column, $just: center);
  @include media-query('desktop') {
    width: 70%;
    flex-direction: row;
  }
  .form-field {
    @include form;
  }
}

.banner {
  position: relative;
  width: 400px;
  margin: 40px auto 0;
}

.macbook {
  width: 100%;
}

.piconmac {
  position: absolute;
  top: 12px;
  left: 64px;
  width: 274px;
}

.arrows {
  position: absolute;
  width: 100%;
  top: 60%;
  @include flex-container($just: space-between);
  i {
    color: white;
    transition: color 0.3s;
    &:hover {
      color: $color-primary;
      cursor: pointer;
    }
    &:first-child {
      margin-left: 33%;
    }
    &:last-child {
      margin-right: 33%;
    }
  }
  .fa {
    font-size: 1em;
  }
}

.slider-nav {
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  i {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 2px map-get($text-color, primary);
    border-radius: 5px;
    &:first-child {
      border-color: $color-slider-background;
    }
  }
}

.services {
  margin-top: 2em;
}

.service-list {
  @include flex-container($dir: row, $wrap: wrap, $just: space-between);
  margin-top: 3em;
  }
  .service {
    @include flex-container($dir: column, $wrap: wrap);
    @include media-query('tablet') {
      width: 50%;
  }
}

.service {
  i {
    color: white;
    width: 70px;
    height: 100%;
    text-align: center;
    font-size: 2em;
  }
  h3, p {
    width: 80%;
  }
  .fa {
    @include outline();
    transition: text-shadow 0.3s;
  }
  &:hover .fa {
    @include outline($color: darken($color-primary, 20%));
  }
}

.about-us {
  @include flex-container;
  min-height: 350px;
  figure,
  article {
    margin: 0;
    flex-basis: 50%;
  }
}

.about-img {
  background-image: url('../img/aboutus.png');
  background-size: cover;
}

.about-text {
  background-color: $color-about-background;
  padding-top: 3%;
  padding-left: 5%;
  h3,
  h5 {
    text-align: left;
    width: 70%;
  }
  h3, h5, button {
    margin: 5% 0;
    padding: 0;
  }
  button {
    display: block;
  }
}

.btn-read-more {
  @include btn;
}

.prices {
  min-height: 550px;
  background: $color-prices-background;
  h2 {
    padding-top: 3em;
  }
}

.plans-list {
  min-height: 300px;
  padding: 3% 5%;
}

.plans {
  margin-right: 2%;
  padding: 3%;
  float: left;
  width: 32%;
  min-height: 300px;
  background-color: white;
  border: solid 1px #ccd5df;
  border-radius: 2px;
  transition-property: background-color, transform;
  transition-duration: 0.3s;
  &:last-child {
    margin-right: 0;
  }
  h3,
  p {
    font-family: $font-secondary-light;
    text-transform: uppercase;
    text-align: center;
    color: map-get($text-color, secondary);
  }
  div {
    margin: 1em 0;
  }
  .cost {
    padding: 0;
    font-size: 2.5em;
    color: $color-primary;
    span {
      font-size: 0.5em;
      position: relative;
      top: -1em;
      left: 0.1em;
    }
    .period {
      padding: 0;
    }
  }
  p {
    font-size: 0.7em;
  }
  p:nth-child(n + 3) {
    padding: 1em 0;
    border-top: solid 1px map-get($text-color, secondary);
  }
  &:hover {
    z-index: 100;
    background-color: $color-slider-background;
    transform: scale(1.13);
    p,
    h3 {
      color: white;
      border-color: white;
    }
  }
}

.btn-purchase {
  @include btn($link-padding: 7%, $font: $font-secondary, $font-size: 0.7em) {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 2px;
  }
}

.clearfix {
  clear: both;
}

.how-it-works {
  min-height: 500px;
  padding-top: 2em;
}

.steps {
  @include flex-container();
  height: 80%;
  margin: 2em 0;
}

.step {
  width: 25%;
  height: 100%;
  text-align: center;
  position: relative;
  .fa {
    @include outline;
    margin: 0.5em 0;
    color: white;
    display: inline-block;
    font-size: 4em;
  }
  .step-arrow {
    position: absolute;
    right: -64px;
  }
  .step-arrow.rotated {
    top: 40%;
    transform: rotate(180deg);
  }
  h4,
  p {
    width: 70%;
    margin: 2em auto;
    text-align: center;
  }
}

.btn-get-started {
  @include btn($link-padding: 9%, $width: 10em, $height: 2.5em, $font: $font-secondary, $font-size: 0.7em) {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 2px;
  }
}

.success-stories {
  width: 100%;
  min-height: 500px;
  margin-top: 1em;
  padding-top: 2em;
  background-color: $color-about-background;
}

.clients {
  @include flex-container($wrap: wrap, $just: space-between);
  width: 100%;
  margin: 2em 0;
}

.client {
  @include flex-container($just: space-between);
  width: 49%;
  margin-top: 0.5em;
  padding-bottom: 1em;
  background-color: white;
  img {
    width: 100px;
    display: block;
    margin: auto;
  }
  &:hover {
    i {
      transform: rotateY(360deg);
    }
  }
}

.quote {
  width: 65%;
  margin: 2em 1em 0;
  position: relative;
  float: right;
  p:last-child {
    margin-top: 2em;
    font-family: $font-secondary;
    color: map-get($text-color, secondary);
    text-transform: uppercase;
    span {
      color: map-get($text-color, bright);
    }
  }
  i {
    position: absolute;
    font-size: 0.6em;
    color: map-get($text-color, secondary);
    transition: all 0.5s;
    &.fa-quote-left {
      top: -5px;
      left: -20px;
    }
    &.fa-quote-right {
      bottom: 30px;
      left: 50%;
    }
  }
}

.newsletter-sign {
  width: 70%;
  margin: 0 auto;
  padding-top: 2em;
  @include flex-container($dir: column, $just: center);
  @include media-query('desktop') {
    width: 70%;
    flex-direction: row;
  }
  .form-field {
    @include form {
      width: 37%;
      color: map-get($text-color, secondary);
      border-radius: 1px;
      border: 1px solid map-get($text-color, secondary);
      &:last-child {
        width: 23%;
        border: none;
      }
    }
  }
}

.map {
  margin-top: 2em;
  height: 500px;
  background-image: url('../img/map.png');
  background-size: contain;
}

.adress {
  padding-top: 50px;
  a {
    display: block;
    width: 50px;
    margin: 1em auto;
  }
}

.bubble {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  background-color: $color-bubble-background;
  border-radius: 50%;
  text-align: center;
  h4 {
    padding-top: 3em;
    text-align: center;
  }
  p {
    padding: 0.6em;
    color: map-get($text-color, secondary);
  }
  p:nth-child(6) {
    color: $color-primary;
  }
  .cape {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: -8px;
    left: 115px;
    background-color: $color-bubble-background;
    transform: rotate(45deg);
  }
}

.footer {
  height: 180px;
  border-top: 1px solid lighten(map-get($text-color, secondary), 20%);
  p {
    margin: 0.5em 0;
    text-align: center;
    font-size: 1.2em;
    color: map-get($text-color, dark);
  }
}

.footer_navigation {
  @include navigation($link-color: map-get($text-color, dark)) {
    width: 70%;
    margin: 0 auto;
    padding-top: 3em;
  }
}

.social {
  width: 70%;
  margin: 1em auto;
  font-size: 1em;
  text-align: center;
  a,
  a:visited {
    margin: 0 0.5em;
    color: $color-slider-background;
  }
  a:hover {
    color: $color-primary;
  }
}

.copywright {
  height: 35px;
  padding-top: 0.7em;
  text-align: center;
  background-color: $color-slider-background;
  p {
    color: white;
  }
}

/* UTILITIES ------------------------- */
.hidden {
  display: none;
}
