@font-face {
  font-family: LatoRegular;
  src: url('../fonts/LatoRegular.ttf');
}

@font-face {
  font-family: MyriadProRegular;
  src: url('../fonts/MyriadProRegular.ttf');
}

@font-face {
  font-family: GothamBlack;
  src: url('../fonts/GothamBlack.ttf');
}

@font-face {
  font-family: LatoBold;
  src: url('../fonts/LatoBold.ttf');
}

@font-face {
  font-family: LatoLight;
  src: url('../fonts/LatoLight.ttf');
}

@font-face {
  font-family: OpenSansLight;
  src: url('../fonts/OpenSansLight.ttf');
}

@font-face {
  font-family: OpenSansRegular;
  src: url('../fonts/OpenSansRegular.ttf');
}
