@mixin center {
  width: $content-width;
  margin: 0 auto;
}

@mixin round($dim) {
  width: $dim;
  height: $dim;
  border-radius: 50%;
}

@mixin flex-container($dir: null, $wrap: null, $just: null, $ali: null) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $ali;
}

@mixin media-query($size) {
  @if map-get($breakpoints, $size) == null {
    @error "#{$size} is not valid breakpoint";
  }
  @else {
    @media only screen and (min-width: map-get($breakpoints, $size)) {
      @content;
    }
  }
}

@mixin outline($color: $color-slider-background) {
  text-shadow: 1px 0 0 $color,
               0 1px 0 $color,
               -1px 0 0 $color,
               0 -1px 0 $color;
}

@mixin text-styling($size: 1em) {
  font-size: $size;
  font-family: $font-primary;
}
