@mixin center {
  width: map-get($content-width, mobile);
  margin: 0 auto;
}

@mixin round($dim) {
  width: $dim;
  height: $dim;
  border-radius: 50%;
}

@mixin flex-container($dir: null, $wrap: null, $just: null, $ali: null) {
  display: flex;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
  align-items: $ali;
}

@mixin media-query($size) {
  @if map-get($breakpoints, $size) == null {
    @error "#{$size} is not valid breakpoint";
  }
  @else {
    @media only screen and (min-width: map-get($breakpoints, $size)) {
      @content;
    }
  }
}

@mixin outline($color: $color-slider-background) {
  text-shadow: 1px 0 0 $color,
               0 1px 0 $color,
               -1px 0 0 $color,
               0 -1px 0 $color;
}

@mixin text-styling($font: $font-secondary, $size: 1em) {
  font-size: $size;
  font-family: $font;
}

@mixin navigation ($link-color: map-get($text-color, secondary)) {
  @include flex-container($dir: column, $ali: center, $just: center);
  a,
  a:visited {
    color: $link-color;
    text-decoration: none;
    font-size: 0.7em;
    font-family: $font-secondary;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 2px;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    &:hover {
      color: white;
      background-color: $color-primary;
    }
  }
  @include media-query('tablet') {
    flex-direction: row;
  }
  @content;
}

@mixin btn($font: $font-secondary, $font-size: 1em, $width: 8em, $height: 2em, $background: $color-about-background, $background-light: $color-primary-light, $link-padding: 5%) {
  @if mixin-exists(text-styling) {
    @include text-styling($font);
  }
  @else {
    &:before {
      color: red;
      content: "text-styling mixin isn't found"
    }
  }
  width: $width;
  height: $height;
  text-transform: uppercase;
  color: white;
  background-color: $background;
  border: 1px solid map-get($text-color, secondary);
  transition: background-color 0.2s;
  &:hover {
    background-color: $background-light;
  }
  a {
    display: inline-block;
    padding-top: $link-padding;
    width: 100%;
    height: 100%;
    font-size: $font-size;
    &:link,
    &:visited {
      color: white;
      text-decoration: none;
    }
  }
  @content;
}

@mixin form {
  width: 14em;
  height: 2em;
  margin: 0.2em;
  background-color: white;
  border-radius: 2px;
  %form-pieces {
    width: 80%;
    height: 100%;
    border: none;
    font-size: 0.8em;
    font-family: $font-paragraph;
    color: map-get($text-color, primary);
  }
  input {
    @extend %form-pieces;
    border-bottom: solid 2px white;
    transition: border-bottom 0.3s;
    &:focus {
      outline: none;
      border-bottom: solid 2px $color-primary;
    }
  }
  &:last-child {
    background-color: white;
    text-align: center;
  }
  .btn-submit-form {
    @extend %form-pieces;
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-family: $font-paragraph;
    background-color: $color-primary;
    transition: background-color 0.3s;
    &:hover {
      cursor: pointer;
      background-color: $color-primary-light;
    }
  }
  .fa {
    font-size: 0.7em;
    padding: 0 5%;
  }
  @content;
}
