$color-primary: #ffbb42;
$color-primary-light: lighten($color-primary, 7%);

$color-slider-background: #709dca;
$color-about-background: #ffc155;
$color-prices-background: #e7edf3;

$text-color: (
  'primary': #a9a9a9,
  'secondary': #868686,
  'dark': #394B55
);

$font-primary: MyriadProRegular, sans-serif;
$font-secondary: LatoRegular, sans-serif;

$breakpoints: (
  'tablet': 750px,
  'desktop': 950px,
);

$content-width: (
  'mobile': 95%,
  'tablet': 85%,
  'desktop': 75%
);
