$color-primary: #ffbb42;
$color-primary-light: lighten($color-primary, 7%);

$color-slider-background: #709dca;
$color-about-background: #ffc155;
$color-prices-background: #e7edf3;
$color-bubble-background: #394b50;

$text-color: (
  'primary': #a9a9a9,
  'secondary': #868686,
  'dark': #394B55,
  'bright': #f6772c,
);

$font-bigger-heading: GothamBlack;
$font-smaller-heading: OpenSansLight;
$font-secondary-heading: LatoBold;
$font-secondary: LatoRegular;
$font-secondary-light: LatoLight;
$font-paragraph: OpenSansRegular;

$breakpoints: (
  'tablet': 750px,
  'desktop': 950px,
);

$content-width: (
  'mobile': 95%,
  'tablet': 85%,
  'desktop': 75%
);
